* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}

.container {
    max-width: 90rem;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.title {
    color: #131313;
    font-size: 2.8125rem;
    font-weight: 700;
}

img {
    vertical-align: middle;
}

.txt {
    color: #727272;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.625rem;
}

.features_card {
    padding: 1.88rem 2.62rem 1.88rem 1.88rem;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.btn {
    color: #FFF;
    padding: 1.2rem 1.4rem;
    border: 0.125rem solid #FF900E;
    cursor: pointer;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: 0.5rem;
    background: #FF900E;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
    transition: .4s;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    -o-transition: .4s;
}

.btn:hover {
    color: #FF900E;
    border: 0.125rem solid #FF900E;
    overflow: hidden;
    border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
    background-color: transparent;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
/* common css end */

/* header start */
/* nav start */
header {
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 6.25rem;
}

nav > h3 {
    cursor: pointer;
}

nav h3 span {
    color: #FF900E;
}

.nav_menu {
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 1.625rem;
    display: flex;
}

.nav_menu a {
    color: #424242;
    margin-left: 3.125rem;
    transition: .4s;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    -o-transition: .4s;
}

.nav_menu a:hover {
    color: #FF900E;
    letter-spacing: .1rem;
}
/* nav end */
/* banner start */
.banner_content {
    max-width: 53.875rem;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 3.12rem;
}

.banner_content h1 {
    color: #131313;
    font-size: 4rem;
    font-weight: 700;
}

.banner_content h1 span {
    color: #FF900E;
}

.banner_content > p {
    margin: 1.5rem 0;
}

#banner img {
    width: 100%;
}
/* banner end */
/* header end */

/* main start */
/* team start */
#team {
    margin-top: 5.3rem;
}

.team_img {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(2, 21.375rem);
}

.team_img img {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.team_txt {
    max-width: 33.5625rem;
}

.team_main {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.team_main .team_txt {
    color: #727272;
    font-size: 2.8125rem;
    font-weight: 500;
}

.team_txt .black_span {
    color: #131313;
    font-weight: 700;
}

.team_txt .org_span {
    color: #FF900E;
    font-weight: 700;
}

.team_main p {
    margin-top: 1rem;
    margin-bottom: 2rem;
}
/* team end */
/* features start */
#features {
    margin-top: 8rem;
}

.features_main {
    display: flex;
    justify-content: space-between;
}

.features_txt {
    padding: 2rem 0 2rem 0;
}

.features_main .main {
    margin-top: 1.5rem;
    margin-bottom: 1.88rem;
}

.features_card {
    margin-bottom: 1.25rem;
}

.features_card h4 {
    color: #131313;
    font-size: 1.25rem;
    font-weight: 600;
}

.features_card p {
    margin-top: .6rem;
}

.features_txt h3 {
    border-left: 5px solid #FF900E;
    padding-left: 20px;
}

.features_img h2 {
    color: #FFF;
    text-align: center;
    font-size: 4.0625rem;
    font-weight: 700;
    line-height: 4.375rem;
}

.features_img img {
    width: 44.25rem;
}

.features_img p {
    color: #FFF;
    font-size: 1.5625rem;
    font-weight: 500;
    line-height: 2.5rem;
}

.ten {
    background-color: #FF900E;
    text-align: center;
    padding: 2.88rem 2.63rem 2.81rem 2.63rem;
    width: 21.375rem;
    position: relative;
    bottom: 8rem;
    right: 5rem;
    border-radius: .5rem;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    -ms-border-radius: .5rem;
    -o-border-radius: .5rem;
}
/* features end */
/* facts start */
#facts {
    margin-top: 4rem;
}

#facts .txt {
    margin-top: 1.3rem;
    margin-bottom: 5.5rem;
}

.card {
    border-radius: 0.5rem;
    border: 1px solid #FF900E;
    padding: 2.8rem 2.5rem;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.card h2 {
    color: #424242;
    font-size: 2.8125rem;
    font-weight: 600;
}

.card p {
    color: #727272;
    font-size: 1.25rem;
    font-weight: 600;
}

.facts_card {
    display: flex;
    justify-content: space-around;
    text-align: center;
}
/* facts end */

/* sponspors start */
#sponspors {
    margin-top: 11.26rem;
    margin-bottom: 8.13rem;
}
.spons_img ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 3.12rem;
}

.spons_txt {
    text-align: center;
}

.spons_txt h3 {
    margin-bottom: 1.5rem;
}
/* sponspors end */
/* main end */


/* responsive media query start */
/* small devices */
@media screen and (max-width: 576px) {
    header {
        padding: 20px;
    }

    nav, .team_main, .facts_card, .spons_img ul {
        flex-direction: column;
    }

    .nav_menu {
        margin-right: 3.125rem;
        margin-top: 20px;
    }

    .team_img {
        grid-template-columns: 1fr;
    }

    .team_txt, .spons_txt {
        padding: 1.5rem;
        text-align: center;
    }
    .card {
        padding-left: 1rem;
        padding-right: 1rem;
        justify-content: center;
    }

    .facts_card {
        gap: 1.5rem;
    }

    #facts {
        padding: 1.5rem;
        text-align: center;
        margin-top: -2rem;
        margin-bottom: -1rem;
    }

    .spons_img ul {
        gap: 1.8rem;
    }
}

/* medium devices */
@media screen and (min-width: 576px) and (max-width: 960px)  {
    header {
        padding: 50px;
    }

    nav, .team_main, .facts_card, .spons_img ul {
        flex-direction: column;
    }

    .nav_menu {
        margin-right: 3.125rem;
        margin-top: 20px;
    }

    .team_txt {
        padding: 1.5rem;
        text-align: center;
    }

    .card {
        padding-left: 1rem;
        padding-right: 1rem;
        justify-content: center;
    }

    .facts_card {
        gap: 1.5rem;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    #facts {
        padding: 1.5rem;
        text-align: center;
        margin-top: -2rem;
        margin-bottom: -1rem;
    }

    .spons_img ul {
        gap: 1.8rem;
    }
}
/* responsive media query end */